@use "@/assets/styles/abstracts" as *;

.container {
  padding: 40rem;
  max-width: 1200rem;
  margin: 0 auto;
}

h1 {
  font-family: 'Spezia Serif Condensed B';
  @include font(48, 400, 56);
  color: $text-secondary;
  margin-bottom: 40rem;
}

h2 {
  font-family: 'Spezia Serif Condensed B';
  @include font(32, 400, 40);
  color: $text-secondary;
  margin-bottom: 24rem;
}

.section {
  margin-bottom: 60rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
  align-items: center;
}

.shimmers {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.customShimmer {
  font-family: 'Spezia Serif Condensed B';
  @include font(24, 400, 32);
  --base-color: #{rgba(#3b82f6, 0.3)};
  --base-gradient-color: #{#3b82f6};
}
