// Color variables

// Heats
$surface-default: #09090A;
$overlay-default: #3C3C43;
$container-default: #1C1C1E;
$text-primary: #FFFFFF;
$text-secondary: #EBEBF5;
$text-tertiary: #EBEBF5;
$text-disabled: #EBEBF5;
$text-white: #000000;
$background-black: #FFFFFF;
$background-tones-grey: #787880;
$background-tones-white: #EBEBF5;
$border-black: #FFFFFF;
$border-inverse: #FFFFFF;
$text-inverse-white: #FFFFFF;
$re-background: #FFFD6C;
$black: #000000;
$background: #09090A;
$white: #ffffff;
$text-negative: #F04253;
$secondary-red: #B50F00;
$secondary-yellow: #C0A300;
$border-white: #1C1C1E;



$overlay-default: #3C3C43;
$container-default: #FFFFFF;
$text-primary: #000000;
$text-secondary: #3C3C43;


$text-white: #FFFFFF;
$background-black: #000000;
$background-tones-grey: #787880;
$background-tones-white: #EBEBF5;
$border-black: #000000;
$border-inverse: #FFFFFF;
$text-inverse-white: #FFFFFF;
$re-background: #EBEBEB;
$black: #000000;
$background: #FFFFFF;
$white: #ffffff;